/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #c7abab;
    color: #333;
}

header {
    background-color: #75576c;
    color: #fff;
    padding: 60px 0;
    text-align: left;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
    font-style: italic;
}

header p {
    font-size: 20px;
    margin-bottom: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

section {
    padding: 60px 0;
}

.projects, .skills, .contact {
    background-color:#c7abab ;
    margin-bottom: 20px;
}

section h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #2c3e50;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.skill-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.skill-list li {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    margin: 0 auto;
}

.contact form label {
    font-size: 18px;
}

.contact form input, 
.contact form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #237f23;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact form button:hover {
    background-color: #5b8350b9;
}

footer {
    background-color:  #75576c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .project-list {
        flex-direction: column;
    }

    .project {
        width: 100%;
    }

    .contact form {
        width: 90%;
    }

    header h1 {
        font-size: 36px;
    }

    header p {
        font-size: 18px;
    }

    section h2 {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }

    section h2 {
        font-size: 24px;
    }
}
